<!DOCTYPE html>
<html>
<head>
         <link type="text/css" href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet" />
         <title>{{title}}</title>
         <!-- Guest base -->
</head>
<body>
{%block title%}
{%if title %}
    <title>АНО Фудшеринг - {{title}}</title>
{%else%}
    <title>АНО Фудшеринг</title>
{%endif%}
{%endblock%}
{% if menu -%}
    <ul class="mainmenu">
        {%if is_auth%}
        {%for m in menu if m.title not in ['Авторизация', 'Регистрация'] %}
        <li><a href="{{m.url}}">{{m.title}}</a></li>
        {% endfor %}
        {%else%}
        {%for m in menu if m.title not in ['Профиль'] %}
        <li><a href="{{m.url}}">{{m.title}}</a></li>
        {% endfor %}
        {%endif%}
    </ul>
    <div class="clear"></div>
{%endif%}

<div class="content">
{% block content %}
{%if title %}
        <h1>{{title}}</h1>
    {%else%}
        <h1>Мой сайт</h1>
    {%endif%}
{% endblock %}
</div>
</body>
</html>